.social_wrapper{
    display: flex;
    flex-direction: column;
    background-color: #524A2C;
    align-items: center;
    justify-content: center;
}

.social_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.lucky_cat{
    display: flex;
    gap: 17px;
    align-items: center;
    justify-content: center;
    margin-right: 168px;
}

.lucky_cat span{
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #BCB69F;
}

.nft_wrapper{
    display: flex;
    gap: 60px;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
    color: #BCB69F;
    margin-right: 182px;
    align-items: center;
    justify-content: center;
}

.socials{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.social_wrapper p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #BCB69F;
    margin-top: 40px;
    margin-bottom: 50px;
}