.featured_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 160px;
    background-color: #3D392A;
    padding: 80px 10px;
}


.featured_container  p{
    font-weight: 700;
    line-height: 54px;
    font-size: 36px;
    color: #ffff;
    margin-bottom: 80px;
}

.featured_logo{
    display: flex;
    column-gap: 210px;
    row-gap: 81px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}

.featured_logo img{
    mix-blend-mode: luminosity;
}

.featured_logo img:hover{
    mix-blend-mode: unset;
}